body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .background {
    background: linear-gradient(to right, #3498db, #2ecc71, #9b59b6);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calculator {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  @media (min-width: 768px) {
    .buttons {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (min-width: 1024px) {
    .buttons {
        grid-template-columns: repeat(5, 1fr);
    }
}